* {
    border: none;
}

main {
    height: 100vh;
    /* Defina a altura da div primaria como 100% da altura da viewport */
}

.app-container{
    background-color: #e4ebf0;
}

header {
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-link {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.header-link:hover {
    color:#5968fb;
}

.header-link:active{
    color: #48a2c2;
}

.titulo{
    text-align: center;
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em;
}

h1{
    text-align: center;
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em;
    margin: 0.2em 0em 0.7em;
}

.campo-login,
.campo-cadastro:focus{
    outline: none;;
    
}
button {
    height: 3em;
    width: 5.5em;
    font-size: 1.2em;
    background-color: #84d2f3;
    border-radius: 0.7em;
    font-weight: 700;
    color: #1f1808;
}

button:hover {
    cursor: pointer;
    background-color: #66bada;

}

button:active {
    background-color: #48a2c2;
}