.app-container{
    height: 100vh;
    background-color: #f5f5f5;
}

.flex{
    display: flex;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
justify-content: center;

}

.flex-right{
    justify-content: flex-end;
   
}

.flex-left{
    justify-content: flex-start;
   
}

.font-principal{
    font-family: "ubuntu" sans-serif;
}

.font-descricao{
    font-family: "Noto Sans", sans-serif;   
}
 
button{  
    width: 6em;
    height: 2.3em;
    border-width: 1px;
    border-color: #006bc8;
    background-color: transparent;
    font-size: 1em;
    line-height: 1em;
    color: #006bc8;    
    border-radius: 0.7em;
    font-weight: 700;
}

button:hover {        
    cursor: pointer;
    background-color: #006bc8;
    color: white;
}

button:active {
    background-color: #48a2c2;
}

.mensagem {
    text-align: center;
    font-size: 1em;
    margin: 1em;
    color: #a40b05;
}

