header{
    height: 30px;
    padding: 40px;
    background-color: white;
}.title-header{
    color: #002c53;
}

.header-links{
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: #002c53;
}
.header-links:hover{
    color: #006bc8;
}

.title{
    font-family:"ubuntu" sans-serif;
    font-weight: 700;
}

