.main-content-notfound {
    position: relative;
    /* Precisa ter posição relativa para o posicionamento absoluto do container */
    /* Alinhe o conteúdo horizontalmente no centro */
    align-items: center;
    /* Alinhe o conteúdo verticalmente no centro */
    flex-direction: column;
    height: 100vh;
}


.div-icon-notfound {
    margin-bottom: 30px;
    align-items: center;
}

.icon-notfound {
    font-size: 20em;
    color: silver;

}